@use "../../../styles/tokens" as *;

.HeaderLink {
  color: $INVERSE_TEXT_COLOR;
  text-decoration: none;
  cursor: pointer;
}

.HeaderLinkActive {
  font-weight: bold;
  text-decoration: underline;
}
